.container-user-show {
  margin-top: 90px;
  margin-left: 200px;
  margin-right: 200px;
}

.body-user-show {
  display: flex;
}

.user-data {
  padding-top: 10px;
  margin-top: 15px;
}

.requests-lender {
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.offers > a {
   text-decoration:none;
   color: black;
   &:hover{
    color: rgba(0, 0, 0, 0.7)
   }
}

.as-lender {
  width: 100%
}

.as-borrower {
  border-right-width: 2px;
  border-right-color: rgba(0, 0, 0, 0.1);
  border-right-style: solid;
  padding-right: 20px;
  margin-right: 20px;
  width: 100%;
}

.status {
  color: #8361E7;
}
