<!-- !!!!! This page is not finished and until now just used to se backend output !!!!! -->
<div class="container">
  <!-- all user's offers (lender)-->
  <div>

  </div>

  <!-- all user's  loans (as lender) -->
  <div>

  </div>

  <!-- all user's loans (as seeker) -->
  <div>

  </div>
</div>
