
<div class="banner" style="background-image: url(<%= cl_image_path "https://res.cloudinary.com/kl3000/image/upload/v1575565262/airloan_bg_st5qfs.png" %>);">
  <div class="container">
    <h1 style="font-size: 61px">Missing a fiver?</h1>
    <p style="font-size: 32px">Why not <strong>borrow</strong> ten?</p>
    <%= link_to "Search loans", offers_path, class: "btn btn-flat mr-2" %>
    <%= link_to "Create a new loan...", new_offer_path, class: "btn btn-flat-ghost ml-2" %>
  </div>
</div>

