<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.icharts.net/wp-content/uploads/2019/05/make-money-online.jpg);">
  <div class="container">
    <h1>Welcome to AirLoan </h1>
    <p><strong>Borrow</strong> money directly from your <strong>neighbour</strong> in seconds!</p>
    <a class="btn btn-flat" href="#">Search loans</a>
  </div>
</div>

