<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://www.icharts.net/wp-content/uploads/2019/05/make-money-online.jpg);">
  <div class="container">
    <h1>Welcome to AirLoan </h1>
    <p><strong>Borrow</strong> money directly from <strong>anyone</strong> in seconds!</p>
    <%= link_to "Search loans", offers_path, class: "btn btn-flat" %>
    <%= link_to "Create a new loan offer...", new_offer_path, class: "btn btn-flat-ghost" %>
  </div>
</div>

