<!-- <div class="banner" id="map" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://api.mapbox.com/[...]?access_token=pk.eyJ1IjoiYW5ndXN0YXRjaGVsbCIsImEiOiJjanRlaWQwbzMwMTlsM3lydWMwNW41dG40In0.P4X8Ae7V6RXAGw65l6T-PA);">
</div> -->



<div class="banner" id="map" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://www.justinesmith.net/wordpress/wp-content/uploads/2017/05/World-Map-2013-2254x1360.jpg);">
</div>

<div class="container">

<h1 style="margin-top: 20px;">Available Loans</h1>

<div class="cards">
  <% @offers.each do |offer| %>
    <% link_to offer_path(offer.id) %>
      <div class="card-trip">
        <%= cl_image_tag offer.photo, height: 150, width: 200, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
  <% end %>

  <div class="card-trip">
    <img src="https://i.pinimg.com/originals/91/8e/7a/918e7a39b2d71bd85d3e26cf6b42a1ec.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://avatarfiles.alphacoders.com/123/123018.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://i.blogs.es/7d43be/snip_20191017171919/1366_2000.jpeg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://www.propbay.com/attachments/original/14873d1471582534-joker-s-pile-money-test2.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://i.ytimg.com/vi/fls8VU7XClU/maxresdefault.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

</div>
