<body style="background-color: rgba(254, 243, 6,0.8);">
  <div class="container">
    <div class="row justify-content-center form_row">
      <div class="form col-12 col-lg-8">

        <div style="
        background-color: rgb(125, 41, 231);
        width: 38%;
        padding-left:  3px;
        background-blend-mode: color;">
        <h1 style="font-size: 40px; color: white; font-weight: lighter;"> Add your <strong style="font-weight:bold">loan</strong></h1>
      </div>
        <%= render 'form_creating_offer' %>
        <br>
        <%= link_to "Back to list", offers_path, class: 'btn btn-flat-ghost' %>

      </div>
    </div>
  </div>
</body>
