.form {
  margin-top: 80px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.form_row {
  margin-top: 40px;
}

.form_button {
  color: white;

  &:hover {
    color: white;
  }
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;

  &:hover {
    opacity: 0.7;
  }
}
