#map {
  height: 50vh;
  width: 100vw;
}

.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

.mapboxgl-ctrl-top-right {
  top: 80px !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  border-radius: 10px;
}

.btn-popup {
  color: white;
  background-color: #7d29e7;
  box-shadow: 4px 4px 4px rgba(0,0,0,.1);
  border: 1px solid #7d29e7;
  padding: 5px 15px;
  border-radius: 50px;
}
