.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-btn {
  color: #7d29e7;
  padding: 0;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 20px;
// }

.fa-comments-dollar {
  color: #7F46E7;
  font-size: 40px;
}

.nav-item i {
  color: #7F46E7;
  font-size: 1.2rem;
  opacity: 1;
  transition: opacity 0.3s ease;

   &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.navbar-logo-with-text {
  font-size: 40px;
  margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #7F46E7;
  font-size: 1.1rem;
  opacity: 1;
    &:hover {
      color: #7F46E7;
      opacity: 0.6;
    }
}
